<header class="blog-public-header">
  <div class="blog-public-header-inner">
    <a href="/" class="blog-public-brand" aria-label="VendMaster">
      <img
        src="/images/brand/logo-320.webp"
        width="180"
        height="41"
        alt="VendMaster"
        class="blog-public-logo"
        decoding="async"
      >
    </a>

    <nav class="blog-public-nav" aria-label="Menu público do blog">
      <a href="/">Home</a>
      <a href="/blog">Blog</a>
      <a href="/#solucao">Solução</a>
      <a href="/#contato">Contato</a>
      <a href="/login" class="blog-public-login">Entrar</a>
    </nav>
  </div>
</header>