
<!-- breadcrumb -->
<nav class="pt-5 container d-flex justify-content-between align-items-center mb-4" aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="/painel">Painel de Controle</a></li>
        <li class="breadcrumb-item active text-danger fw-bold" aria-current="page"><%= pageTitle %></li>
    </ol>
    <span class="usuario-info">Usuário Ativo:<strong> <%= usuario.username %> </strong></span>
</nav>